.gallery .img_border{
	position: absolute;
	bottom: 6%;
	left: 4%;
	z-index: 1;
	height: 85%;
	width:80%;
	border: 5px solid #b9a3cc;
}
.gallery  #pic_img img{
	position: absolute;
	bottom: 3%;
}
.gallery  #gallery_title{
	position: relative;
	top:1em;
	height : 90vh;
	/*border-right: 1px solid black;*/
	position: relative;
}
.gallery  #text{
	text-align: justify;
	text-align-last: right;
	-moz-text-align-last: right;
}
.gallery  #gallery_title:after {
  content: '';
  height: 95%;
  width: 2px;
  position: absolute;
  right: 0;
  bottom: 2em; 
  background-color: #000000;
}
.gallery  .page_title{
	position: absolute;
	bottom: 5%;
	right: 0;
	-ms-transform: rotate(-90deg) translateX(100%); 
	-ms-transform-origin: 100% 100%;
	-webkit-transform: rotate(-90deg) translateX(100%);
	-webkit-transform-origin: 100% 100%;
	transform: rotate(-90deg) translateX(100%);
	transform-origin: 100% 100%;
	font-size: 7em;
	font-weight: 800;
}

.pollen{
	position:relative;
	top:10em;
	left:320%;
	animation-name: disp;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
	animation-direction: alternate;
}

@keyframes disp{
	from{left:320%;}
	to{left:322%;}
}