@font-face {
    font-family: endor;
    src: url(../fonts/ENDOR___.ttf);
}

#light1{
	animation-name: parallax1;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax1{
	from{left:0.625em;bottom:1em;}
	to{left:1.25em;bottom:0.688em;}
}

#light2{
	animation-name: parallax2;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax2{
	from{left:7.5em;bottom:7em;}
	to{left:8.125em;bottom:7.313em;}
}

#light3{
	animation-name: parallax3;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax3{
	from{left:12.75em;bottom:0em;}
	to{left:13.375em;bottom:-0.563em;}
}

#light4{
	bottom:0em;
	animation-name: parallax4;
	animation-duration: 1.65s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax4{
	from{right:12.875em;}
	to{right:13.5em;}
}

#light5{
	animation-name: parallax5;
	animation-duration: 1.75s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax5{
	from{right:17.5em;bottom:9.5em;}
	to{right:18.125em;bottom:9.938em;}
}

#light6{
	bottom:7.75em;
	animation-name: parallax6;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax6{
	from{left:22.25em;}
	to{left:22.875em;}
}

#light7{
	bottom:12em;
	animation-name: parallax7;
	animation-duration: 1.55s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax7{
	from{left:30.25em;}
	to{left:30.875em;}
}

#light8{
	bottom:0.25em;
	animation-name: parallax8;
	animation-duration: 1.54s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax8{
	from{right:0.375em;}
	to{right:0em;}
}

#light9{
	bottom:8.438em;
	animation-name: parallax9;
	animation-duration: 1.78s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax9{
	from{right:38.125em;}
	to{right:38.750em;}
}

#light10{
	animation-name: parallax10;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax10{
	from{left:38.25em;bottom:2.875em;}
	to{left:40.75em;bottom:3.75em;}
}

#light11{
	bottom:3.375em;
	animation-name: parallax11;
	animation-duration: 1.75s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax11{
	from{right:32em;}
	to{right:32.875em;}
}

#light12{
	bottom:1em;
	animation-name: parallax12;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax12{
	from{left:28.375em;}
	to{left:28em;}
}

#light13{
	bottom:2em;
	animation-name: parallax13;
	animation-duration: 1.85s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax13{
	from{right:26.125em;}
	to{right:27.063em;}
}

#light14{
	bottom:5.875em;
	animation-name: parallax14;
	animation-duration: 1.76s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax14{
	from{right:2.125em;}
	to{right:3.063em;}
}

/*#tree:hover{
	animation-name: parallax14;
	animation-duration:2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax14{
	from{left:0em;}
	to{left:0.3em;}
}*/