@font-face {
    font-family: endor;
    src: url(../fonts/ENDOR___.ttf);
}

#light1{
	animation-name: parallax1;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax1{
	from{left:10px;bottom:80px;}
	to{left:20px;bottom:75px;}
}

#light2{
	animation-name: parallax2;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax2{
	from{left:120px;bottom:160px;}
	to{left:130px;bottom:165px;}
}

#light3{
	animation-name: parallax3;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax3{
	from{left:140px;bottom:80px;}
	to{left:150px;bottom:73px;}
}

#light4{
	bottom:120px;
	animation-name: parallax4;
	animation-duration: 1.65s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax4{
	from{right:190px;}
	to{right:200px;}
}

#light5{
	animation-name: parallax5;
	animation-duration: 1.75s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax5{
	from{right:280px;bottom:120px;}
	to{right:290px;bottom:127px;}
}

#light6{
	bottom:140px;
	animation-name: parallax6;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax6{
	from{left:260px;}
	to{left:270px;}
}

#light7{
	bottom:240px;
	animation-name: parallax7;
	animation-duration: 1.55s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax7{
	from{left:340px;}
	to{left:350px;}
}

#light8{
	bottom:100px;
	animation-name: parallax8;
	animation-duration: 1.54s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax8{
	from{right:70px;}
	to{right:80px;}
}

#light9{
	bottom:215px;
	animation-name: parallax9;
	animation-duration: 1.78s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax9{
	from{right:130px;}
	to{right:140px;}
}

#light10{
	animation-name: parallax10;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax10{
	from{left:500px;bottom:110px;}
	to{left:700px;bottom:140px;}
}

#light11{
	bottom:70px;
	animation-name: parallax11;
	animation-duration: 1.75s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax11{
	from{right:420px;}
	to{right:430px;}
}

#light12{
	bottom:90px;
	animation-name: parallax12;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax12{
	from{left:390px;}
	to{left:400px;}
}

#light13{
	bottom:190px;
	animation-name: parallax13;
	animation-duration: 1.85s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax13{
	from{right:290px;}
	to{right:305px;}
}

#tree:hover{
	animation-name: parallax14;
	animation-duration:2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax14{
	from{left:0em;}
	to{left:0.3em;}
}