@font-face {
    font-family: endor;
    src: url(../fonts/ENDOR___.ttf);
}

#light1{
	animation-name: parallax1;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax1{
	from{left:0.625em;bottom:6em;}
	to{left:1.25em;bottom:5.688em;}
}

#light2{
	animation-name: parallax2;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax2{
	from{left:7.5em;bottom:10em;}
	to{left:8.125em;bottom:10.313em;}
}

#light3{
	animation-name: parallax3;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax3{
	from{left:8.75em;bottom:6em;}
	to{left:9.375em;bottom:5.563em;}
}

#light4{
	bottom:9.5em;
	animation-name: parallax4;
	animation-duration: 1.65s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax4{
	from{right:12.875em;}
	to{right:13.5em;}
}

#light5{
	animation-name: parallax5;
	animation-duration: 1.75s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax5{
	from{right:17.5em;bottom:7.5em;}
	to{right:18.125em;bottom:7.938em;}
}

#light6{
	bottom:8.75em;
	animation-name: parallax6;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax6{
	from{left:16.25em;}
	to{left:16.875em;}
}

#light7{
	bottom:15em;
	animation-name: parallax7;
	animation-duration: 1.55s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax7{
	from{left:21.25em;}
	to{left:21.875em;}
}

#light8{
	bottom:8.25em;
	animation-name: parallax8;
	animation-duration: 1.54s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax8{
	from{right:5.375em;}
	to{right:6em;}
}

#light9{
	bottom:13.438em;
	animation-name: parallax9;
	animation-duration: 1.78s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax9{
	from{right:8.125em;}
	to{right:8.750em;}
}

#light10{
	animation-name: parallax10;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax10{
	from{left:31.25em;bottom:6.875em;}
	to{left:43.75em;bottom:8.75em;}
}

#light11{
	bottom:8.375em;
	animation-name: parallax11;
	animation-duration: 1.75s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax11{
	from{right:26em;}
	to{right:26.875em;}
}

#light12{
	bottom:6.625em;
	animation-name: parallax12;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax12{
	from{left:24.375em;}
	to{left:25em;}
}

#light13{
	bottom:11.875em;
	animation-name: parallax13;
	animation-duration: 1.85s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax13{
	from{right:23.125em;}
	to{right:24.063em;}
}

#light14{
	bottom:10.875em;
	animation-name: parallax14;
	animation-duration: 1.76s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax14{
	from{right:2.125em;}
	to{right:3.063em;}
}

/*#tree:hover{
	animation-name: parallax14;
	animation-duration:2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes parallax14{
	from{left:0em;}
	to{left:0.3em;}
}*/