<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>

	<script src="js/app.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Pacifico|Varela+Round|Oswald:700" rel="stylesheet">
	<!-- font-family: 'Pacifico', cursive; -->
	<!-- font-family: 'Varela Round', sans-serif;  -->
	<!-- font-family: 'Oswald', sans-serif; -->
	<link rel="icon" type="image/png" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/about.css">
	<link rel="stylesheet" type="text/css" href="css/spons.css">
	<link rel="stylesheet" type="text/css" href="css/gallery.css">
	<link rel="stylesheet" type="text/css" href="css/contact.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<title>Saarang 2017</title>
	<style type="text/css">
	body{
		overflow-x: hidden;
	}
	.parent
	{
  		width: 95vh;
  		border-bottom: 4px solid grey;
  		position: relative;
	}
	.child {
  		background: #ffffff;
  		width: 41px;
  		height: 40px;
  		border-radius: 50%;
  		border:2px solid grey;
		position: absolute;
		content:'';
		top: -18px;
	}
	.child {
  		left: 80%;
  		margin-left: -8px;
	}
	</style>
</head>
<body style="background-color: #f8f9ff;" ng-app="myApp">
	<div class="section home" style="height:100vh;overflow:hidden">
		<img  style="position:static;height:110%;width:100%" src="imgs/new/1_page/main.jpg">
	    <img id="light1" style="z-index:1071;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light2" style="z-index:1081;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light3" style="z-index:1061;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light4" style="z-index:1051;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light5" style="z-index:1041;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light6" style="z-index:1031;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light7" style="z-index:1031;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light8" style="z-index:1011;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light9" style="z-index:1021;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light10" style="z-index:1071;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light11" style="z-index:1011;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light12" style="z-index:1021;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light13" style="z-index:1031;" class="light_images" src="imgs/new/1_page/light_modified.png">
	    <img id="light14" style="z-index:1031;" class="light_images" src="imgs/new/1_page/light_modified.png">
		<!-- Arrow -->
		<img style="z-index:9999;top:96vh;left:49%;width:2%;height:3%" class="home_images scroll hidden-xs hidden-sm" src="imgs/new/1_page/scroll_down_cut_arrow.png">
		<!-- Mobile Arrow -->
		<img style="z-index:9999;top:108vh;left:49%;width:2%;height:1%" class="home_images scroll hidden-md hidden-lg" src="imgs/new/1_page/scroll_down_cut_arrow.png">
	</div>
	<!-- About_us -->
	<div class="about section" style="margin-top:2%;overflow:hidden">
		<span class="cloud01">
			<img src="imgs/new/About_us/clouds/01_new.png">
		</span>
		<span class="cloud02">
			<img src="imgs/new/About_us/clouds/02_new.png">
		</span>
		<span class="cloud03">
			<img src="imgs/new/About_us/clouds/01_new.png" style="width:80%;">
		</span>
		<span class="cloud04">
			<img src="imgs/new/About_us/clouds/04_new.png" style="width: 60%;">
		</span>
		<span class="cloud05">
			<img src="imgs/new/About_us/clouds/05_new.png" style="width: 60%;">
		</span>
		<span class="cloud06">
			<img src="imgs/new/About_us/clouds/06_new.png" style="width: 60%;">
		</span>
		<span class="cloud07">
			<img src="imgs/new/About_us/clouds/07_new.png" style="width: 60%;">
		</span>
		<span class="cloud08">
			<img src="imgs/new/About_us/clouds/08_new.png" style="width: 60%;">
		</span>
		<span class="cloud09">
			<img src="imgs/new/About_us/clouds/09_new.png" style="width: 60%;">
		</span>
		<span class="cloud10">
			<img src="imgs/new/About_us/clouds/10_new.png" style="width: 60%;">
		</span>
		<span class="cloud11">
			<img src="imgs/new/About_us/clouds/11_new.png" style="width: 60%;">
		</span>
		<div class="col-md-2 col-xs-2 hidden-sm hidden-xs" id="title">
			<div class="page_title" style="font-family: 'Oswald', sans-serif;">
				ABOUT&nbsp;US
				<div class="parent"><div class="child"></div></div>
			</div>
		</div>
		<div class="col-md-10 col-md-offset-0 col-xs-10 col-xs-offset-1">
			<div class="row" id="images">
				<div class="col-md-4 col-xs-4 hidden-xs hidden-sm" id="tree_img">
					<img src="imgs/new/About_us/tree_new.png" style="height:60%;">
				</div>
				<div class="col-xs-12 col-md-8" id="pic_img">
					<div class="img_border"></div>
					<img src="imgs/new/About_us/picture_new.png" style="height: 85%; width:80%;">
				</div>
			</div>
			<br>
			<br>
			<div class="col-xs-12" id="text">
				<span style="float:right;font-family: 'Varela Round', sans-serif" class="col-xs-11">
					Embarking on a humble yet fruitful journey, Saarang, called Mardi Gras when it was started in the mid-1970s, has
					gone on to become an integral part of the culture of Chennai. A pioneering student fest of the Indian Institute Of
					Technology Madras, it attracts over fifty thousand people from across the country every year and has been host to breath taking performances from personalities within country and from all over the world. Saarang has
					showcased the performances of Ustad Bismillah Khan, Hariprasad Chaurasia, Pandit Birju Maharaj, Sunidhi Chauhan,
					Sonu Nigam over the years.
				</span>
			</div>
		</div>
	</div>
	<br>
	<!-- Spons -->
	<div class="section spons" ng-controller="sponsCtrl" style="margin-top:2%;height:110vh;overflow-x:hidden">
		<div class="col-md-2 hidden-sm hidden-xs" id="spons_title">
			<div class="page_title" style="font-family: 'Oswald', sans-serif;">
				SPONSORS
				<div class="parent"><div class="child"></div></div>
			</div>
			<img src="imgs/new/sponsors/owl.png" style="z-index:-1;position:relative;top:20em;left:-15%;height:50%;width:100%">
		</div>
		<div class="col-md-10 col-md-offset-0 col-xs-10 col-xs-offset-1">
			<div class="container-fluid">
		    	<div class="row">
		    		<div class="col-md-6 col-sm-6 col-xs-12 left">
		    			<h1 style="letter-spacing:3px;font-family: 'Oswald', sans-serif;">
		    			<a href="http://sponsors.saarang.org/">SAARANG 2016</a>
		    			</h1>
		    		</div>
		    		<div class="col-xs-12 col-md-2 col-sm-6  col-md-offset-4 right brochure_link" style="padding:0 3.5% 0 3.5%">
		    			<a href="http://sponsors.saarang.org/" target="_blank">
		    				<h4 class="brochure_text">BROCHURE</h4>
						</a>
		    		</div>
		    	</div>
			    <div style="border:5px solid #8b66a8;height:85vh;overflow-y:scroll;overflow-x:hidden">
				    <div class="row" ng-repeat="row in logos">
			            <div ng-if="row.length===1">
			                <div ng-repeat="logo in row"  class="col-md-4 col-md-offset-4">
			                    <center>
			                        <h2 class="text-center text-info" style="font-size:20px">{{logo.title}}</h2>
			                        <a href="{{logo.sponsor_link}}" target="_blank">
			                            <img style="min-height:60px;max-height:100px;vertical-align:middle;margin-bottom:50px;" src="http://erp.saarang.org/media/{{logo.logo}}" class="img-rounded img-responsive">
			                        </a>
			                    </center>
			                </div>
			            </div>
			            <div ng-if="row.length===2">
			                <div ng-repeat="logo in row" class="col-md-6">
			                    <center>
			                        <h2 class="text-center text-info" style="font-size:20px">{{logo.title}}</h2>
			                        <a href="{{logo.sponsor_link}}" target="_blank">
			                            <img style="min-height:50px;max-height:100px;vertical-align:middle;margin-bottom:50px;" src="http://erp.saarang.org/media/{{logo.logo}}" class="img-rounded img-responsive">
			                        </a>
			                    </center>
			                </div>
			            </div>
			            <div ng-if="row.length===3" >
			                <div ng-repeat="logo in row" class="col-md-4">
			                    <center>
			                        <h2 class="text-center text-info" style="font-size:20px">{{logo.title}}</h2>
			                        <a href="{{logo.sponsor_link}}" target="_blank">
			                            <img style="min-height:40px;max-height:100px;vertical-align:middle;margin-bottom:50px;" src="http://erp.saarang.org/media/{{logo.logo}}" class="img-rounded img-responsive">
			                        </a>
			                    </center>
			                </div>
			            </div>
			            <div ng-if="row.length===4">
			                <div ng-repeat="logo in row" class="col-md-3">
			                    <center>
			                        <h2 class="text-center text-info" style="font-size:20px">{{logo.title}}</h2>
			                        <a href="{{logo.sponsor_link}}" target="_blank">
			                            <img style="min-height:30px;max-height:100px;vertical-align:middle;margin-bottom:50px;" src="http://erp.saarang.org/media/{{logo.logo}}" class="img-rounded img-responsive">
			                        </a>
			                    </center>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<br>
	<!-- Galery -->
	<div class="section gallery" ng-controller="galleryCtrl">
		<div class="row" style="width:100%;overflow-x:hidden">
			<div class="col-md-2 hidden-sm hidden-xs" id="gallery_title" style="font-family: 'Oswald', sans-serif;">
				<div class="page_title">
					GALLERY
					<div class="parent"><div class="child"></div></div>
				</div>
				<img src="imgs/new/gallery/mushroom_cut.png" style="position:relative;top:20em;left:120%;height:50%;width:120%">
			</div>
			<div class="col-xs-offset-1 col-xs-10 col-md-10 col-md-offset-0" style="height:95vh;overflow:hidden;">
				<div class="row">
					<div class="col-xs-12" style="margin-left:20px">
		    			<h1 style="letter-spacing:3px;font-family: 'Oswald', sans-serif;">SAARANG memories...</h1>
		    		</div>
				</div>
				<div id="main_area" style="height:82vh;overflow-y:hidden;overflow-x:hidden">
			        <div class="row">
			            <div class="col-xs-12 col-md-6" id="slider-thumbs" style="height:80vh;overflow-y:scroll">
			                <ul class="hide-bullets" ng-repeat="pic in pics">
			                    <li class="col-sm-6">
			                        <a class="thumbnail" ng-mouseover="show($index)" id="carousel-selector-{{$index}}">
			                            <img src="imgs/pics/{{pic}}">
			                        </a>
			                        <br>
			                    </li>
			                </ul>
			            </div>
			            <div class="col-md-6 hidden-xs hidden-sm" style="width:50%;max-height:78%;position:absolute;right:0;top:40%;margin:-100px 0 0 -150px;overflow-y:scroll;overflow-x:hidden">
			                <div class="col-xs-12">
	                            <div class="active item text-center">
	                                <img style="margin:auto;height:120%;border-radius:5px;text-align: justify;" src="imgs/pics/{{selectedPic}}">
	                            </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<br>
	<!-- Contact us -->
	<div class="section contact" ng-controller="contactCtrl">
		<div class="col-md-2 hidden-sm hidden-xs" id="contact_title" style="font-family: 'Oswald', sans-serif;">
			<div class="page_title">
				CONTACT&nbsp;US
				<div class="parent"><div class="child"></div></div>
			</div>
		</div>
		<div class="col-md-10 col-md-offset-0 col-xs-10 col-xs-offset-1" style="font-family: 'Varela Round', sans-serif">
			<div class="row">
		        <div class="col-lg-12 help-text">
		            <h2 class="text-center" style="font-family: 'Oswald', sans-serif;"><b>Saarang 2017 Team</b></h2>
		        </div>
		    </div>
		    <div style="height:80vh;overflow-y:scroll;overflow-x:hidden;">
			    <div ng-repeat="tab in contacts2017" id="{{tab.name}}">
			        <div ng-show="$index===0" class="row">
			            <div class="col-md-6" ng-repeat="secretary in secretaries2017">
							<h3 class="sec-dept text-center">{{secretary.title}}</h3>
							<img width="196px" ng-src="imgs/core_pics/{{secretary.img}}" class="img-responsive corePic"/>
							<div class="text-center">
								<span>{{secretary.name}}</span><br>
				                <span><a href="mailto:{{secretary.email}}" target="_blank">{{secretary.email}}</a></span><br>
								<span>{{secretary.phone}}</span>
							</div>
			            </div>
			        </div>
					<div  ng-hide="$index===0||$index===1" class="row department">
						<div class="col-md-6 col-md-offset-3">
							<h3>{{tab.name}}</h3>
						</div>
					</div>
					<div  ng-hide="$index===0||$index===1" class="row photos">
						<div ng-class="{'col-md-4' : true,'col-md-offset-4':{{tab.members.length===1}}, 'col-md-offset-2':{{tab.members.length===2}} && {{$index===0}}, 'col-md-offset-0':{{tab.members.length===3}} && {{$index===0}}}" ng-repeat="member in tab.members">	
							<img ng-src="imgs/core_pics/{{member.img}}" class="img-responsive corePic"/>
							<div class="text-center">
								<span class="center">{{member.name}}</span><br>
				                <span><a href="mailto:{{member.email}}" target="_blank">{{member.email}}</a></span><br>
								<span>{{member.phone}}</span>
							</div>
						</div>
					</div>	
				</div>		
		    </div>
			<div class="row">
		        <h5 class="text-center">For any queries/feedback on the website/online services, please contact us at 
		        	<a href="mailto:webops@saarang.org" target="_blank">webops@saarang.org</a>
		    	</h5>
			</div>
		</div>
	</div>	
</body>
<style type="text/css">
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
	height:100%;
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #bc73f4;
  border: 100px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 100px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
</style>
</html>